@import '../../custom.scss';

.background{
  background-image: url('../../app/assets/background.jpg');
  background-size: cover;
  background-position: center;  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: 'Lucida Sans';
}
