@import '../../custom.scss';

.navbar {
  color: #42354C;
  font-family: 'Lucida Sans';
  border-bottom: 1px solid #aaa7a7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .navLink {
    color: rgb(53, 44, 44);
    &:hover {
      color: #42354C;
    }
    &:active {
      color: rgb(82, 63, 63);
    }
  }

  .navText {
    color: #42354C;
    padding: 10px;
  }

  .navBrand {
    color: #42354C;
    pointer-events: none;
  }
}