.navbar {
    background-image: linear-gradient(to bottom right ,#5ca1eb, #165aa8, #62a1e9, #004997);
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    .navLink {
        color: whitesmoke;
          &:hover {
            color: rgb(219, 219, 219);
          }
          &:active {
            color: rgb(201, 201, 201);
          }
      }
    
    .navText {
        color: whitesmoke;
        padding: 10px;
      }

    .navBrand {
        color: whitesmoke;
        pointer-events: none;
      }
}