@import '../../custom.scss';

.page {
    padding-top: 10px;
    font-family: 'Lucida Sans';
  
    .title {
      height: 80px;
  
      display: flex;
      align-items: center;
  
      font-size: 20px;
      font-weight: 100;
    }
  }